<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Poppins"
		/>
		<title>Currency Converter</title>
		<style>
			* {
				border-radius: 10 !important;
			}

			body {
				background-color: #e7f7f9;
				font-family: 'Poppins' sans-serif;
			}
			.sery {
/* 				background-color: #e7f7f9; */
				background-color: rgba(202, 62, 70, 0.7);
			}
		</style>
	</head>
	<body>
		<div id="app">
			<div class="container">
				<div class="card my-3" >
					<h2 class="card-header text-center text-white bg-dark">Zik Currency Converter</h2>
						    <div class="card-body sery">
				<div class="row my-5">
					<div class="col-md-6">
						<label class="font-weight-bolder text-uppercase">From</label>
						<select v-model="from" name="" id="" class="form-control">
							<option
								:value="currency.id"
								v-for="currency in formattedCurrencies"
								>{{ currency.currencyName }}
							</option>
						</select>
					</div>
					<div class="col-md-6">
						<label class="font-weight-bolder text-uppercase">To</label>
						<select v-model="to" name="" id="" class="form-control">
							<option
								:value="currency.id"
								v-for="currency in formattedCurrencies"
								>{{ currency.currencyName }}</option
							>
						</select>
					</div>
				</div>
				<div class="row">
					
					<div class="col-md-6 offset-md-3 text-center">
						<label class="font-weight-bolder text-uppercase">Enter Amount</label>
						<input
							v-model="amount"
							type="text"
							name="amount"
							placeholder="Enter Amount"
							class="form-control"
						/>
						<div class="text-center mt-5">
							<button
								:disabled="disabled"
								@click="convertCurrency()"
								class="btn btn-dark btn-lg"
							>
								{{ loading ? 'Converting...' : 'Convert' }}
							</button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 offset-md-3">
						<h1 class="text-center display-2 mt-2">{{ convertedResult }}</h1>
					</div>
				</div>
										      </div>
										      </div>						      
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
		<script src="app.js"></script>
	</body>
</html>
